    <div id="all">
    <div class="row md-5">
       
        <img id="image1" src="assets/images/developpeur.png"/> 
    </div>
    <div id="box" class="row md-4">
        <h1>Bienvenu</h1>
        <form>
        <div class="log">
            <input type="email" placeholder="Veuillez saisir votre adresse e-mail" required>
        </div>

        <div class="pass">
            <input type="password" placeholder="Veuillez saisir votre mot de passe" required>
        </div>

        <div>
        <button class="button" type='submit' value="sign in">Connexion</button>
        </div>
        </form>
    </div>
     <div class="row md-5">
    <img id="image2" src="assets/images/odk_bb.png"/>
    </div>
   </div>