<app-header></app-header>
<div class="page-wrapper" style="background:#ffffff;padding-bottom: 5%;">
        <div class="page-breadcrumb" >
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title"style="color:orange"><b>ACCUEIL</b></h4>

            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3 mt-5">
              <div class="card card-hover">
                <div class="box bg-cyan text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-account-switch"></i>
                  </h1>
                  <h6 class="text-white">Administrateurs</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3  mt-5">
              <div class="card card-hover">
                <div class="box bg-warning text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-account-multiple"></i>
                  </h1>
                  <h6 class="text-white">Utilisateurs</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3  mt-5">
              <div class="card card-hover">
                <div class="box bg-cyan text-center">
                  <h1 class="font-light text-white">
                    <i class="fas fa-graduation-cap"></i>
                  </h1>
                  <h6 class="text-white">Promotions</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3  mt-5">
              <div class="card card-hover">
                <div class="box bg-info text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-pin"></i>
                  </h1>
                  <h6 class="text-white">Pointages</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3  mt-5">
              <div class="card card-hover">
                <div class="box bg-success text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-chart-areaspline"></i>
                  </h1>
                  <h6 class="text-white">Statistiques</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3  mt-5">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-clipboard-outline"></i>
                  </h1>
                  <h6 class="text-white">Logs</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>